
//Login funtionality
form(name="formLogin" ng-controller="LoguserCtrl as auth")
  md-input-container(class="md-block")
    label User
    input(ng-model="auth.user")
  md-input-container(class="md-block")
    label Password
    input(ng-model="auth.psw")
  //Buttons    
  section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
    md-button(class="md-raised md-primary" ng-click="auth.login(auth.user, auth.psw)" ng-hide="auth.registration") Login-In
    md-button(class="md-raised md-primary" ng-click="auth.register()" ng-hide="auth.registration") Register

  //Registration form
  
  div(ng-show="auth.registration")
    md-input-container(class="md-block")
      label Name
      input(ng-model="auth.name")
    md-input-container(class="md-block")
      label Surname
      input(ng-model="auth.surname")
    //Buttons
    section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
      md-button(class="md-raised md-primary" ng-click="auth.saveUser(auth.user, auth.psw,auth.name, auth.surname)") Submit
      md-button(class="md-raised md-warn" ng-click="auth.cancelRegistration()" ng-show="auth.registration") Cancel


     