div(ng-cloak)
  md-toolbar
    md-toolbar-tools
      p.p1 {{ nameSession + " " + surnameSession }}
  div(layout="row" class="main-container")
    div(flex="25" class="menu")
      md-subheader.md-no-sticky Menu
      md-button(aria-label="exam" ui-sref="main.exams") Exams
      md-button(aria-label="stats" ui-sref="main.stats") Stats 
    div(flex="75" class="menu")
      ui-view    
    